.footer-wrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: $color-primary;

    .footer-copyright,
    .footer-logo,
    .footer-link {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-copyright > p,
    .footer-link > a {
        font-size: 1.2rem;
    }
    .logo--footer:hover {
        transform-origin: center;
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 767px) {
    .footer-wrapper {
        position: fixed;
    }
}

// @media (min-width: 375px) and (orientation: landscape) {
//     .footer-wrapper {
//         position: static;
//     }
// }
