.header-wrapper {
    position: fixed;
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $color-primary;
    z-index: 999;
    &__title {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    &__nav {
        display: flex;
        justify-content: flex-end;
    }
    .header-logo,
    .header-title {
        padding: 5px;
    }
    .header-logo {
        width: 30%;
        display: flex;
        justify-content: center;
    }

    .header-title {
        display: flex;
        align-items: center;
        width: 70%;
        .title {
            padding-left: 55px;
            font-family: $font-title;
            font-size: 2.5vw;
        }
    }
}

@media screen and (max-width: 767px) {
    .header-wrapper {
        position: fixed;
        width: 100%;
        min-height: 100px;

        &__title {
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        .header-logo,
        .header-title {
            padding: 5px;
        }

        .header-title {
            justify-content: flex-end;
            width: 60%;
            padding: 5px;
            .title {
                padding-right: 2px;
                font-size: 3.5vw;
            }
        }
    }
}
