.swiper {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}
