.swiper {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 55%;
    margin-left: -200px;
    margin-top: -200px;
    z-index: 1;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 375px) {
    .swiper {
        width: 220px;
        height: 220px;
        top: 50%;
        margin-left: -110px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .swiper {
        width: 250px;
        height: 250px;
        top: 55%;
        left: 44%;
        margin-left: -100px;
    }
}
