.admin-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: $color-primary;
    min-height: 5vh;

    .admin-nav {
        padding: 1rem;

        .nav-list {
            display: flex;
            flex-direction: row;

            .nav-list-item {
                color: #fff;
            }
            .nav_link {
                padding: 0 0.3rem;
                color: inherit;
                font-size: 1.3rem;
            }
            .active {
                padding: 0 0.3rem;
                color: $color-fourth;
                font-size: 1.3rem;
            }
        }
    }
}
