.logo {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

@media screen and (max-width: 767px) {
    .logo {
        width: 9vw;
        height: auto;
        border-radius: 50px;
    }
}
