.logo {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    &--footer:hover {
        transform-origin: center;
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
