.home-wrapper {
    margin-top: 150px;
    padding: 3rem 0;
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .banner-wrapper {
        margin-bottom: 20px;
    }
    .card-container {
        margin-top: 20px;
    }
}

@media all and (max-width: 375px) {
    .home-wrapper {
        margin-top: 75px;
    }
}
@media all and (min-width: 376px) and (max-width: 767px) {
    .home-wrapper {
        margin-top: 100px;
        min-height: 60vh;
    }
}
// @media all and (min-width: 768px) {
//     .home-wrapper {
//         margin-top: 0px;
//     }
// }
