/* Color */

$color-primary: #00a7e1;
$color-secondary: #5dd39e;
$color-tertiary: #0b5563;
$color-fourth: #f3d3bd;
$color-fifth: #32292f;

/*  font */
$font-title: 'Paytone One', sans-serif;
$font-body: 'BenchNine', sans-serif;
$default-font: Verdana, Tahoma, sans-serif;

$rand: random(60) + 40;
